@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* Set a transparent black background */
  backdrop-filter: blur(10px);
  /* Apply a blur effect to the background */
}

::selection {
  background: #4158d0;
  color: #fff;
}

.wrapper {
  width: 380px;
  /* background: #fff; */
  background: rgba(255, 255, 255, 0);
  /* Set a transparent white background */
  backdrop-filter: blur(10px);
  /* Apply a blur effect to the background */
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  border: solid rgb(146, 146, 146) 1px;
}

.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  /* border-radius: 15px 15px 0 0; */
  border-radius: 15px 15px 15px 15px;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
  background-color: transparent;
  /* Set the background color to transparent */
}

.wrapper form {
  padding: 10px 30px 50px 30px;
}

.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid #999999;
  border-radius: 25px;
  transition: all 0.3s ease;
  background-color: transparent;
  /* Set the background color to transparent */
}

.wrapper form .field input:focus,
form .field input:valid {
  border-color: #888888;
}

.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  background-color: transparent
}

form .field input:focus~label,
form .field input:valid~label {
  top: 0%;
  font-size: 16px;
  color: #ffffff;
  background: #ffffff;
  transform: translateY(-50%);
  background-color: transparent
}

form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}

form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

form .content input {
  width: 15px;
  height: 15px;
  background: red;
}

form .content label {
  color: #ffffff;
  user-select: none;
  padding-left: 5px;
}

form .content .pass-link {
  color: "";
}

form .field input[type="submit"] {
  color: #ffffff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
  background: linear-gradient(-135deg, #c77f8b, #15245b);
  transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
  transform: scale(0.95);
}

form .signup-link {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}

form .pass-link a,
form .signup-link a {
  color: #ffffff;
  text-decoration: none;
}

form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
}

.table {
  padding: 20px;
  border: 1px solid #999999;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  /* Apply a blur effect to the background */
}

.container {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #ddd;
  padding: 10px;
  width: 500px;
}

.container h1 {
  margin-top: 0;
  font-family: 'Poppins', sans-serif
}

.container table {
  margin: 20px auto;
  width: 100%;
  border-collapse: collapse;
}

.container table th,
.container table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.container table th {
  background-color: #f2f2f2;
}

.container input[type="text"],
.container select,
.container input[type="date"],
.container input[type="submit"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.container input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.container input[type="submit"]:hover {
  background-color: #45a049;
}

.container input[type="checkbox"] {
  margin-left: 8px;
}

.container div {
  text-align: center;
  font-family: 'Poppins', sans-serif
}

.container .btn-danger {
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

.container .btn-danger:hover {
  background-color: #ff5252;
}